.primary {
    background: #698355;
}

body {
    font-size: 20px !important
}

iframe {
    max-width: 100%
}

pre code {
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
}

img {
    width: 100%
}

.post-tags {
    display: inline-block;
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
    margin: 10px 0; /* Remove default margin */
}

.post-tag {
    display: inline; /* Display list items inline */
    margin-right: 10px; /* Add some spacing between list items */
    color: #9a9a9a;
    font-size: 0.8em;
}

.post-title {
    font-size: 2em;
}

.sidebar-site-title {
    font-size: 2em;
}

.lead {
  margin: 1rem 0 1rem 0;
  font-size: 1rem !important;
}

.sidebar-nav-item {
  display: block;
  line-height: 2 !important;
}
